<!DOCTYPE html>
<html>
<head>
    <title>Success Page</title>
    <link rel="stylesheet" type="text/css" href="index.css">
    <meta name="description" content="This is a sample app for Stripe-hosted Connect onboarding." />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <div class="container">
        <div class="container">
            <div class="banner">
                <div class="nav-header">
                    <a class="nav-brand" href="/">
                        <img src="/SavemailLogo.jpg" alt="savemailLogo">
                    </a>
                </div>
            </div>
        </div>
        <div class="container">
            <header>
                <h1>Payment Successful!</h1>
            </header>
            <main>
                <p>Thank you for your payment of <%= amount_total %></p>
                <p>Your invoice number is: <%= invoice_number %></p>
                <a href="<%=receipt_url %>">Download Receipt</a>
            </main>
        </div>
    </div>
    
</body>
</html>